body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #21221F;
	background-image: url("images/shattered.png");
	padding-top: 50px;
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #FFFFFF;
}

#content {
	width: 35%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
}

header {
  position: relative;
  height: 320px;
  overflow: hidden;
}

@media only screen
  and (max-device-width: 1400px) { 

  #content {
  	width: 90%;
  }

  header {
    height: 280px;
  }
}

.divider {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  z-index: 100;
}

#details {
	margin-top: -19em;
	margin-bottom: 10em;
	padding: 5%;
	background-color: #3f3f3f;
	padding-top: 10em;
}

#details h3 {
	text-align: left;
}

h1 {
  margin: 0;
  padding: 30px 0;
  font: 75px "Helvetica Neue";
  text-align: center;
  z-index: -1;
}

header h1 {
  position: relative;
  color: white;
}

.box {
	border-style: solid;
	border-width: 3px;
	border-color: #FFFFFF;
	padding: 1em 1em .5em 1em;
	margin-top: 2em;
	margin-bottom: 2em;
}