body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #21221F;
	background-image: url("images/shattered.png");
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #FFFFFF;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#logo-wrapper {
	width: 100%;
}

#logo-image {
	margin-left: 50%;
	transform: translateX(-50%);
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 3px;
}

#content {
	border-style: solid;
	border-color: #FFFFFF;
	border-width: 3px;
	margin-top: 5em;
	margin-bottom: 10em;
	padding: 1em;
	width: 20%;
}

#email-form {
	width: 100%;
	margin-bottom: .5em;
}

#what-link {
	border-style: solid;
	border-color: #00FFFF;
	border-width: 3px;
	position: relative;
	width: 100%;
	padding-bottom: .8em;
	margin-top: 1.5em;
	margin-right: 1.5em;
}

#what-link:hover {
	background-color: #FFFFFF;
}

#what-link a {
	color: #00FFFF;
}



/* ----- */

body,html {
  height: 100%;
}

body {
  padding-top: 50px;
}

.wide {
  width: 100%;
  height: 120%;
  height: calc(100% - 1px);
  background-image: url('apog-landing-image.jpg');
  background-size: cover;
}

.wide img {
  width: 100%;
  height: 100%;
}

.logo {
  padding: 25px;
  text-align: center;
  width: 70%;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 20%;
}

.line {
  padding-top: 20px;
  white-space: no-wrap;
  overflow: hidden;
  text-align: center;
}

.scaling-image {
	background-image: url('images/grass-pug.jpg');
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	background-position: center;
	height: 100%;
	width: 100%;
}

@media only screen
  and (min-device-width: 1px)
  and (max-device-width: 500px) {

  	.logo {
 
   	}

	#content {
		width: 90%;
	}

	#email-form {

	}

	#what-link {

	}

}

@media only screen
  and (min-device-width: 501px)
  and (max-device-width: 800px) {

	#content {
		width: 60%;
	}

	#email-form {

	}

	.logo {
		width: 60%;
		margin-top: 10%;
	}

}

@media only screen
  and (min-device-width: 801px) {

	.logo {
		width: 40%;
		margin-top: 5%;
	}

	#content {
		width: 40%;
	}

}

@media only screen
  and (min-device-width: 1500px) {
  	
  	#content {
		width: 20%;
	}

 }

i {
    border: solid white;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

#down-arrow {
	text-align: center;
	margin-left: 50%;
	transform: translateX(-50%);
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
}
