body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #21221F;
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #FFFFFF;
}

#logo {
    background: url('apog-landing.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height:100em;
}