body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFFFFF;
	background-color: #21221F;
	background-image: url("images/shattered.png");
}

a {
	color: #FFFFFF;
}

a:visited {
	color: #FFFFFF;
}

a:hover {
	color: #FFFFFF;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow:inset 0px 0px 6px 6px rgba(255,255,255,1);
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  	img {
		width: 800px;
	}

}

#logo-wrapper {
	width: 100%;
}

#logo-image {
	margin-left: 50%;
	transform: translateX(-50%);
}

/* Portrait */
@media only screen 
  and (min-device-width: 1000px) { 

	/* ---- particles.js container ---- */ 
	#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #21221F; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

}
